<% include ../header.ejs %>
<% include menu.ejs %>

<body>
	<button id='btn_getData'>getData</button>
	<button id='btn_getChanges'>getChanges</button>
	<button id='btn_addRow'>addRow</button>
	<h1><%= title %></h1>
	<div class="col-6">
		<table id="tableFueling">
			<thead></thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>
	</div>
	
</body>

<% include ../footer.ejs %>
<% include ../../public/javascripts/tankolas/fueling.html %>
