<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(41, 190, 53);padding: 0px 16px 0px 16px;">
	<a class="navbar-brand" href="#">Tankolás</a>
	<button id="btn_navbar" class="navbar-toggler" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbar" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a href='/tankolas/fueling' class="nav-link">
					Rögzítés
				</a>
			</li>
			<li class="nav-item">
				<a href='/tankolas/daily' class="nav-link">
					Napi fogyasztás
				</a>
			</li>
			<li class="nav-item">
				<a href='/tankolas/weekly' class="nav-link">
					Heti fogyasztás
				</a>
			</li>
			<li class="nav-item">
				<a href='/tankolas/monthly' class="nav-link">
					Havi fogyasztás
				</a>
			</li>
		</ul>
	</div>
</nav>
